html, body {
	font-family:Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 0px;  
    color:#FFF;
	font-size:12px;
	background:#000;
}
a:link {
	outline-style:none;
	text-decoration:none;
	color:#44839b;
}
a:visited {
	outline-style:none;
	text-decoration:none;
	color:#44839b;
}
a:hover{
	outline-style:none;
	text-decoration:underline;
	color:#44839b;
}
input:focus {
	outline: none;
}


/* 
 - - - Members	
*/

#client_logo {
	top:30px;
	height:53px;
	width:250px;
	position:relative;
	margin:0px auto;
	background:center no-repeat;
}
#members {
	text-align:center;
	display:block;
	width:900px;
	margin:0px auto;
	background:url("../images/members_bg.jpg") center no-repeat;
	background-position: center 10px;
	height:810px;
}
#logo {
	background:url("../images/logo_members.jpg");
	width:250px;
	height:23px;
	display:block;
	margin:0px auto;
	position:relative;
	top:-90px;
}
#members #iphone {
	background:url("../images/iphone.png");
	width:276px;
	height:579px;
	display:block;
	margin:0px auto;
	position:relative;
	top:40px;
}
#members #login {
	display:block;
	position:absolute;
	margin-left:45px;
	margin-top:240px;
	text-shadow:1px 1px #000;
	font-size:11px;
	text-align:left;
	z-index:3;
}
#members #login input {
	display:block;
	background:#000;
	border:#555 solid 1px;
	width:170px;
	color:#02babb;
	padding:8px;
	box-shadow:#000 0px 0px 15px;
	-moz-box-shadow:#000 0px 0px 15px;
	-webkit-box-shadow:#000 0px 0px 15px;
}
#members #login #login_loading {
	width:24px;
	height:24px;
	background:url("../images/loader.gif");
	display:block;
	position:absolute;
	margin:18px 0px 0px 159px;
	display:none;
}
#members #status {
	color:#ff0000;
	position:relative;
	top:4px;
	text-align:right;
	display:block;
}
#members #iphoneContainer {
	width:234px;
	height:414px;
	display:block;
	position:absolute;
	margin-left:21px;
	margin-top:83px;
	z-index:2;
}
.showcase #videoContainer {
	width:720px;
	height:405px;
	display:none;
	position:absolute;
	z-index:5;
	background:#000;
	overflow:hidden;
	margin-top:1px;
	float:left;
}
#members #videoContainer {
	width:235px;
	height:412px;
	display:none;
	position:absolute;
	z-index:5;
	background:#000;
	overflow:hidden;
	margin-top:1px;
	float:left;
}
.logout {
	color:#888;
	display:block;
	position:relative;
	top:-80px;
}
#iphone_interface {
	width:234px;
	height:354px;
	padding-top:59px;
	display:block;
	position:absolute;
	z-index:3;
	background:url("../images/iphone_interface.jpg");
}
#iphone_interface a:link {
	display:block;
	width:234px;
	height:47px;
}
#iphone_interface span {
	display:block;
	width:234px;
	height:47px;
	background:url("../images/iphone_list_red.jpg") no-repeat;
}
#iphone_interface span:hover {
	background:url("../images/iphone_list_green.jpg") no-repeat;
}

/* 
 - - - Overlay	
*/

.dimmer {
	background:url("../images/grain_blue.png");
	position:fixed; 
	top:0px; 
	left:0px; 
	z-index:2; 
	overflow:hidden;
}
.overlayContent {
	padding:6px;
	position:relative;
	top:150px;
	display:block;
	z-index:11;
	overflow:hidden;
	border-radius:12px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	margin:auto;
	background:url("../images/grain_blue.png");
}
.overlayInner {
	text-align:left;
	box-shadow:#000 1px 1px 1px;
	-moz-box-shadow:#000 1px 1px 1px;
	-webkit-box-shadow:#000 1px 1px 1px;
	
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	background:url("../images/grain_white.gif");
	font-size:13px;
	min-height:100px;
}
.overlayContent .footer {
	background:url("../images/grain_grey.gif");
	padding:15px 20px;
	text-align:right;
	border-top:#EEE solid 1px;
	border-radius:0px 0px 12px 12px;
	-moz-border-radius:0px 0px 12px 12px;
	-webkit-border-radius:0px 0px 12px 12px;
}
.overlayContent .footer .cancel {
	text-decoration:none;
	padding:0px 20px 0px 20px;
	position:relative;
	top:3px;	
}
.overlayContent .instructions {
	padding:10px 0px;
}
.overlayContent .footer .cancel:hover {
	text-decoration:underline;
}
.overlayContent a {
	text-decoration:underline;	
}
.overlayContent .title {
	color:#FFF;
	font-size:15px;
	display:block;
	clear:both;
	margin-bottom:30px;	
	text-shadow:1px 1px #000;
}
.overlayContent #overlayCheckbox {
	position:relative;
	left:3px;
	top:-2px;	
	border:#3d5f7a solid 1px;
}
.overlayLoader {
	top:26px;
	position:relative;
}
