th, td {
  text-align: left;
  padding: 4px;
  margin: 2px;
}
th {
  background-color: #ccc;
}
td {
  font-family: monospace;
  background-color: #f0f0f0;
}
.rcmd {
  color: #00f;
}
td.res {
  color: #f00;
}